


.container-fluid h1{

    text-align: center;
    color: rgb(216, 66, 116);
     border-bottom: 0.2px solid palevioletred;
     border-width: 0.1px;
  

}
.container-fluid h2{
    color: red;
    margin-top: 10px;
}
.container-fluid h1 span{
    color: rgb(235, 163, 198);
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.container-fluid ol{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(126, 39, 39);

}